{% extends '../index.html' %}

{% block content %}
<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des matières du semestre 4</h3>
        <a href="{% url 'main:create_matiere' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Ajout Matière
        </a>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center" style="width: 14%;">Code matière</th>
                    <th class="text-center" style="width: 20%;">Libéllé</th>
                    <th class="text-center" style="width: 40px;">Coefficient</th>
                    <th class="text-center" style="width: 50px;">Valeur minimale</th>
                    <th class="text-center" style="width: 20%;">Enseignant</th>
                    <th scope="col" class="bg-warning" style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for matiere in matiere_semestre4 %}
                <tr>
                    <td class="text-center font-size-sm">{{matiere.codematiere}}</td>
                    <td class="text-center font-size-sm">{{matiere.libelle}}</td>                  
                    <td class="text-center font-size-sm">{{matiere.coefficient}}</td>                  
                    <td class="text-center font-size-sm">{{matiere.minValue}}</td>                  
                    <td class="text-center font-size-sm">{{matiere.enseignant}}</td> 
                    <td style="text-align: center;">                                       
                        <button type="button" class="bs-modal read-book btn btn-sm btn-primary">
                            <a style="color: blanchedalmond;" href="{% url 'main:detail_matiere' matiere.id %}">
                                <span class="fa fa-eye"></span>                
                            </a>
                        </button>
               
                        <button type="button" class="update-book btn btn-sm btn-warning">
                            <a style="color: blanchedalmond;" href="{% url 'main:update_matiere' matiere.id %}">
                                <span><i class="far fa-edit fa-lg"></i></span>
                        </button>                                     
                    </td> 
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}