{% extends '../index.html' %}
{% load static %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Clôture des semestres</h3>
        <a class="btn btn-sm btn-success"  href="{% url 'main:semestres' %}" style="padding: 8px; float: right; background-color: blue; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
            Retour</a>
    </div>
    <div class="block-content block-content-full">
        
  <form action="{% url 'main:cloturer_semestres' %}" method="post">
    {% csrf_token %}
    <p>Voulez-vous vraiment clôturer les semestres en cours et activer les nouveaux semestres ? Cette action est irréversible.</p>
    <button type="submit" class="btn btn-danger">Clôturer les semestres</button>
  </form>

    </div>
</div>

{% endblock %}

