{% extends '../index.html' %}

{% block content %}

<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h1 class="block-title">Confirmation</h1>
        <a class="btn btn-sm btn-success"  href="#" style="padding: 8px; float: right; background-color: blue; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
            Retour</a>
    </div>
    <div class="block-content block-content-full">
        
        <p>Votre année a été clôturée avec succès.</p>

    </div>
</div>

{% endblock %}