{% extends '../index.html' %}
{% load static %}

{% block content %}


<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Clôture des semestres</h3>
        <a class="btn btn-sm btn-success"  href="{% url 'main:semestres' %}" style="padding: 8px; float: right; background-color: blue; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
            Retour</a>
    </div>
    <div class="block-content block-content-full">
        
        <h1 style="color: red;" >Erreur</h1>
        <h3>{{ message }}</h3>

    </div>
</div>


{% endblock %}

    