{% extends '../index.html' %}

{% block content %}
<div class="block block-rounded m-5">
    <div class="block-header p-4">
        <h3 class="block-title">Liste des semestres</h3>
        <a href="{% url 'main:create_etudiant' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Ajout Étudiant
        </a>
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center" style="width: 80px;">ID</th>
                    <th class="text-center" style="width: 30%;">Libelle</th>
                    <th class="text-center" style="width: 80px;">Smestre courant</th>
                    <th scope="col" class="bg-warning" style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for semestre in semestres %}
                <tr>
                    <td class="text-center font-size-sm">{{semestre.id}}</td>
                    <td class="text-center font-size-sm">{{semestre.libelle}}</td>
                    <td class="text-center font-size-sm">{{semestre.semestreCourant}}</td>
                    <td style="text-align: center;">                                       
                        <button type="button" class="bs-modal read-book btn btn-sm btn-primary">
                            <a style="color: blanchedalmond;" href="#">
                                <span class="fa fa-eye"></span>                
                            </a>
                        </button>
                         
                    </td> 
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}