{% extends '../index.html' %}

{% load static %}

{% block content %}
  <main id="main-container">
       
                <div class="content">

                    <!-- Alternative Style -->
                    <div class="block block-rounded">
                        <div class="block-header">
                            <h3 class="block-title">Enregistrement d'une seance</h3>
                        </div>
                        <div class="block-content block-content-full">
                            <form action="{% url 'main:enregistrer_seance' %}" method="post">
                            	{% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="font-size-sm text-muted">
                                            Veuillez entrer les informations neccessaire
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-xl-5">
                                        <input type="hidden" id="ecrit_par" name="ecrit_par" value="{{ request.etudiant.id }}">
                                        <div class="form-group">
                                            <label for="example-text-input-alt">Intitulé</label>
                                            <input type="text" class="form-control form-control-alt" id="intitulé" name="intitulé" placeholder="Text Input">
                                        </div>
                                    
                                        <div class="form-row">
                                            <div class="form-group col-xl-7">
                                                <label for="example-flatpickr-datetime-24">Date de la seance</label>
                                                <input type="text" class="js-flatpickr form-control bg-white" id="dateseance" name="dateseance" placeholder="Choisissez la date">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-xl-7">
                                                <label for="example-flatpickr-datetime-24">Heure debut de la seance</label>
                                                <input type="text" class="js-flatpickr form-control bg-white" id="heuredebut" name="heuredebut" data-enable-time="true" data-no-calendar="true" placeholder="From" data-date-format="H:i" data-time_24hr="true">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-xl-7">
                                                <label for="example-flatpickr-datetime-24">Heure fin de la seance</label>
                                                <input type="text" class="js-flatpickr form-control bg-white" id="heurefin" name="heurefin" data-enable-time="true" data-no-calendar="true" placeholder="To" data-date-format="H:i" data-time_24hr="true">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="example-textarea-input-alt">Saisissez le resumé de la seance</label>
                                            <textarea class="form-control form-control-alt" id="description" name="description" rows="7" placeholder="Textarea content.."></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-select">Selectionnez la matiere</label>
                                            <select class="form-control" id="matiere" name="matiere">
                                                {% for matiere in matieres %}
                                                <option value="{{ matiere.pk }}">{{ matiere.libelle }}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                         <div class="form-group">
						                    <label for="eleves-absents">Élèves absents</label>
                                            <select class="js-select2 form-control" id="eleves-absent" name="eleves-absent" style="width: 100%;" data-placeholder="Choisissez les.." multiple>
                                                            <option></option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                                         {% for etudiant in etudiants %}
                                                            <option value="{{ etudiant.id }}">{{ etudiant.nom }} {{ etudiant.prenom }}</option>
                                                         {% endfor %}
                                            </select>
                                               
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                                    </div>
                                    
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END Alternative Style -->

                  
                    <!-- END States -->

                    <!-- END Grid Sizes -->
                </div>
                <!-- END Page Content -->
            </main>
   {% endblock %}