{% extends '../index.html' %}

{% load static %}

{% block content %}
 <main id="main-container">
                
                <div class="content">
        <!-- Seances en attente de validation -->
        <div class="block block-rounded">
            <div class="block-header">
                <h3 class="block-title">Séances en attente de validation</h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option">
                        <i class="si si-settings"></i>
                    </button>
                </div>
            </div>
            <div class="block-content">
                <p class="font-size-sm text-muted">Veuillez consulter ces séances et les valider si elles ont bien été résumées. Vous pouvez également les modifier.</p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th>Intitulé</th>
                                <th style="width: 20%;">Matiere</th>
                                <th style="width: 20%;">Enseignant</th>
                                <th style="width: 20%;">Début</th>                            
                                <th style="width: 20%;">Fin</th>
                                <th class="text-center" style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for seance in seances_en_attente %}
                                <tr>
                                    <td class="font-w600 font-size-sm">
                                        <a href="/main/info_seance/{{seance.id}}/">{{ seance.intitule }}</a>
                                    </td>
                                    <td>
                                        {{ seance.matiere.libelle }} 
                                    </td>
                                    <td>
                                        {{ seance.matiere.enseignant.nom }} {{ seance.matiere.enseignant.prenom }} 
                                    </td>
                                    <td>
                                        {{ seance.date_et_heure_debut }}
                                    </td>
                                    <td>
                                        {{ seance.date_et_heure_fin }}
                                    </td>
                                    <td class="text-center">
                                        <a href="/main/modifier_seance/{{seance.id}}/" class="btn btn-sm btn-alt-primary" data-toggle="tooltip" title="Modifier">
                                            <i class="fa fa-fw fa-pencil-alt"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END Seances en attente de validation -->

        <div class="block block-rounded">
            <div class="block-header">
                <h3 class="block-title">Séances validées</h3>
                <div class="block-options">
                    <button type="button" class="btn-block-option">
                        <i class="si si-settings"></i>
                    </button>
                </div>
            </div>
            <div class="block-content">
                <p class="font-size-sm text-muted">Veuillez consulter vos séances passées. Vous pouvez également modifier certains détails.</p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th>Intitulé</th>
                                <th style="width: 20%;">Matiere</th>
                                <th style="width: 20%;">Enseignant</th>
                                <th style="width: 20%;">Début</th>                            
                                <th style="width: 20%;">Fin</th>
                            	<th class="text-center" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seance in seances_validees %}
                            <tr>
                                <td class="font-w600 font-size-sm">
                                    <a href="/main/info_seance/{{seance.id}}/">{{ seance.intitule }}</a>
                                </td>
                                <td>
                                    {{ seance.matiere.libelle }} 
                                </td>
                                <td>
                                    {{ seance.matiere.enseignant.nom }} {{ seance.matiere.enseignant.prenom }} 
                                </td>
                                <td>
                                    {{ seance.date_et_heure_debut }}
                                </td>
                                <td>
                                    {{ seance.date_et_heure_fin }}
                                </td>
                                <td class="text-center">
                                    <a href="/main/modifier_seance/{{seance.id}}/" class="btn btn-sm btn-alt-primary" data-toggle="tooltip" title="Modifier">
                                                <i class="fa fa-fw fa-pencil-alt"></i>
                                            </a>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


                </div>
                <!-- END Page Content -->
            </main>
          
  {% endblock %}



