{% extends '../index.html' %}
{% block content %}

<style>
    #etudiant{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #etudiant td,#etudiant th{
        border: 1px solid #ddd;
        padding: 8px;
    }
    #etudiant tr:nth-child(even){
        background-color: #e8c1f7;
    }
    #etudiant th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #d6eaf8;
    }
</style>

<div class="block block-rounded">
    <div class="block-header">
        <h3 class="block-title">Détails de l'étudiant {{etudiant.nom}} {{etudiant.prenom}}</h3>
        <a class="btn btn-sm btn-success"  href="{% url 'main:liste_des_etudiants' %}" style="padding: 8px; float: right; background-color: blue; color: white;"><i class="fas fa-chevron-left fa-lg"></i>
            Retour</a>
    </div>
    <div class="block-content block-content-full">
        <table id="etudiant">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" style="width: 80px;">ID</th>
                    <th class="text-center" style="width: 80px;">Sexe</th>
                    <th class="text-center" style="width: 15%;">Email</th>
                    <th class="text-center" style="width: 15%;">Contact</th>
                    <th class="text-center" style="width: 15%;">Adresse</th>
                    <th class="text-center" style="width: 15%;">Date de Naissance</th>
                    <th class="text-center" style="width: 15%;">Lieu de Naissance</th>
                    <th class="text-center" style="width: 15%;">Préfecture</th>
                    <th class="text-center" style="width: 15%;">État</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center font-size-sm">{{etudiant.id}}</td>
                    <td class="text-center font-size-sm">{{etudiant.sexe}}</td>
                    <td class="text-center font-size-sm">{{etudiant.email}}</td>
                    <td class="text-center font-size-sm">{{etudiant.contact}}</td>
                    <td class="text-center font-size-sm">{{etudiant.adresse}}</td>
                    <td class="text-center font-size-sm">{{etudiant.datenaissance}}</td>
                    <td class="text-center font-size-sm">{{etudiant.lieunaissance}}</td>
                    <td class="text-center font-size-sm">{{etudiant.prefecture}}</td>
                    <td class="text-center font-size-sm">{{etudiant.is_active}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>

        <table id="etudiant">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" style="width: 15%;">Annnée d'Entrée</th>
                    <th class="text-center" style="width: 80px;">Série Bac 1</th>
                    <th class="text-center" style="width: 80px;">Série Bac 2</th>
                    <th class="text-center" style="width: 15%;">Annnée Bac 1</th>
                    <th class="text-center" style="width: 15%;">Annnée Bac 2</th>
                    <th class="text-center" style="width: 15%;">Ets Seconde</th>
                    <th class="text-center" style="width: 15%;">Ets Première</th>
                    <th class="text-center" style="width: 15%;">Ets Terminale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center font-size-sm">{{etudiant.anneeentree}}</td>
                    <td class="text-center font-size-sm">{{etudiant.seriebac1}}</td>
                    <td class="text-center font-size-sm">{{etudiant.seriebac2}}</td>
                    <td class="text-center font-size-sm">{{etudiant.anneebac1}}</td>
                    <td class="text-center font-size-sm">{{etudiant.anneebac2}}</td>
                    <td class="text-center font-size-sm">{{etudiant.etablissementSeconde}}</td>
                    <td class="text-center font-size-sm">{{etudiant.etablissementPremiere}}</td>
                    <td class="text-center font-size-sm">{{etudiant.etablissementTerminale}}</td>
                </tr>
            </tbody>
        </table>

        <br>
        <br>

        <table id="etudiant">:
            <thead class="thead-dark">
                <tr>
                    <th class="table-secondary" style="width: 15%;">Français Seconde</th>
                    <th class="table-secondary" style="width: 80px;">Français Première</th>
                    <th class="text-center" style="width: 80px;">Français Terminale</th>
                    <th class="text-center" style="width: 15%;">Anglais Seconde</th>
                    <th class="text-center" style="width: 15%;">Anglais Première</th>
                    <th class="text-center" style="width: 15%;">Anglais Terminale</th>
                    <th class="text-center" style="width: 15%;">Mathématique Seconde</th>
                    <th class="text-center" style="width: 15%;">Mathématique Première</th>
                    <th class="text-center" style="width: 15%;">Mathématique Terminale</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center font-size-sm">{{etudiant.francaisSeconde}}</td>
                    <td class="text-center font-size-sm">{{etudiant.francaisPremiere}}</td>
                    <td class="text-center font-size-sm">{{etudiant.francaisTerminale}}</td>
                    <td class="text-center font-size-sm">{{etudiant.anglaisSeconde}}</td>
                    <td class="text-center font-size-sm">{{etudiant.anglaisPremiere}}</td>
                    <td class="text-center font-size-sm">{{etudiant.anglaisTerminale}}</td>
                    <td class="text-center font-size-sm">{{etudiant.mathematiqueSeconde}}</td>
                    <td class="text-center font-size-sm">{{etudiant.mathematiquePremiere}}</td>
                    <td class="text-center font-size-sm">{{etudiant.mathematiqueTerminale}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}