{% extends '../index.html' %}

{% block content %}
<div class="block block-rounded">
    <div class="block-header">
        <h3 class="block-title">Liste des UEs du semestre 3</h3>
        <a href="{% url 'main:create_ue' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Ajout UE
        </a> 
    </div>
    <div class="block-content block-content-full">
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th class="text-center" style="width: 80px;">ID</th>
                    <th class="text-center" style="width: 30%;">Code UE</th>
                    <th class="text-center" style="width: 80px;">Libelle</th>
                    <th class="text-center" style="width: 15%;">Crédits</th>
                    <th scope="col" class="bg-warning" style="width: 15%;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ue in ues %}
                <tr>
                    <td class="text-center font-size-sm">{{ue.id}}</td>
                    <td class="text-center font-size-sm">{{ue.codeUE}}</td>
                    <td class="text-center font-size-sm">{{ue.libelle}}</td>
                    <td class="text-center font-size-sm">{{ue.nbreCredits}}</td>
                    <td style="text-align: center;">                                       
                        <button type="button" class="bs-modal read-book btn btn-sm btn-primary">
                            <a style="color: blanchedalmond;" href="{% url 'main:detail_ue' ue.id %}">
                                <span class="fa fa-eye"></span>                
                            </a>
                        </button>
               
                        <button type="button" class="update-book btn btn-sm btn-warning">
                            <a style="color: blanchedalmond;" href="{% url 'main:update_ue' ue.id %}">
                                <span><i class="far fa-edit fa-lg"></i></span>
                        </button>  lass="fa fa-pencil"> Modifier</span>
                    </td> 
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}